*{
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-color: rgb(107, 106, 104);
}
h1{
    display: flex;
    justify-content: center;
    color:#ffffff;
}
.container{
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
}
#formulario{
    margin:10px;
    width: 20%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: rgb(107, 106, 104);
    padding: 30px;
    border: 5px solid #ffff;
}
form input,  form select {
    display:block;
    border-radius: 5px;
    padding: 5px;
    background-color: #ffffff;
}
label{
    display:block;
    border-radius: 5px;
    padding: 5px;
    color:#ffffff;
}
button{
    font-family:arial;
    margin-bottom: 10px;
    border-radius: 15px;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    height: 40px;
    cursor:pointer;
    margin-top: 10px;
    width: 100%;
}
#lista{
    width:20%;
    height: auto;
    padding: 5px 10px;
    border-left: 5px solid #ffff;
    border-right: 5px solid #ffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    word-break: break-all;
    justify-content: space-between;
    margin: 10px;
}
label{
    display:block;
    border-radius: 5px;
    width: 100%;
    padding: 5px;
    margin-top: 10px;
}
.card{
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
}
div#salvo {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    background-color: #ffff;
    padding: 10px;
    border-radius: 10px;
    gap: 10px;
}