body {
    font-family: "Momo Signature", cursive;
    font-weight: 400;
    font-style: normal;
    color: #4b0047;
    background: linear-gradient(#bd60f7, #de92fb, #ffc4ff);
    background-attachment: fixed;
    
}

h1 {
    text-align: center;
}

button {
    background-color: #ffc4ff;
    color:  #92498a;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

button:hover {
    background-color: #efabfd;
    /* muda a cor quando passa o mouse */
    transform: scale(1.05);
    /* aumenta levemente */
}
main{
    width: 300px;        /* largura da caixa */
  height: 200px;       /* altura da caixa */
  background-color: #d790de; /* cor de fundo */
  border-radius: 10px; /* deixa a caixa arredondada (opcional) */
  border: 2px solid #4b0047; /* borda (opcional) */
  margin: 0 auto;
}
footer{
    padding: 30%;
    display: flex;
    text-align: center;
}

@media screen and (max-width: 780px) {
    headerc h1 {
        font-size: 1.3rem;
    }
    #dica {
        font-size: 1rem;
    }

    #botao {
        font-size: 0.95rem;
        padding: 10px 20px;
    }
    
}