:root{
    --max-width: 720px;
    --painel-bg: #9e84a1;
    --accent: #2b7a78;
    --muted: #666;
}

*{
    box-sizing:border-box;
}

body{
    font-family: "Science Gothic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "slnt" 0,
      "wdth" 100,
      "CTRS" 0;
    margin: 0;
    padding: 1rem;
    background-color: #67739d; 
    color:#afbae8; 
    display:flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
}

header{
    margin:1rem 0;
}

h1{
    margin:0;
    text-align:center;
}

main{
    width:100%;
    max-width:var(--max-width);
}

.painel{
    background:var(--painel-bg);
    padding:1.25rem;
    border-radius:12px;
    margin-bottom:1rem;
}

label{
    display:block;
    margin-bottom:0.4rem;
}

select{
    width: 100%;
    padding: 0.5rem;
    border-radius: 6px;
    border:1px solid #ddd;
    margin-bottom: 1rem;
    color: #9e84a1;
}

button {
    background: #755d79;
    color: #fff;
    padding: 0.6rem 1rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease;
    margin-top: 1rem;
}

button:hover {
    transform: scale(1.05);
}

.erro{
    color: red;
    background: #f8d7da;
    border-radius: 6px;
    padding: 0.5rem;
    margin-top: 0.5rem;
}

.hidden{
    display: none !important;
}

.total{
    font-size: 1.1rem;
    margin-top: 0.6rem;
}

footer{
    margin-top:auto;
    font-size: 0.9rem;
    color:white;
    text-align: center;
}

@media (min-width:720px){
    body{
        padding:2rem;
    }
}
