*{
    font-family: 'Times New Roman', Times, serif;
    
}
h1{
    display:flex;
    justify-content: center;
}
.container{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}
#formulario{
    margin:10px;
    width: 30%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: rgb(86, 15, 134);
    padding: 30px;
    border: 5px solid #000;
}
form input,  form select {
    display:block;
    border-radius: 5px;
    padding: 5px;
    background-color: #ffffff;
}
label{
    display:block;
    border-radius: 5px;
    padding: 5px;
    color:#ffffff;
}
button{
    font-family:arial;
    margin-bottom: 10px;
    border-radius: 15px;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    height: 40px;
    cursor:pointer;
    margin-top: 10px;
    width: 100%;
}
#lista{
    width:30%;
    height: auto;
    padding: 5px 10px;
    border-left: 5px solid #ffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffff;
    word-break: break-all;
    justify-content: space-between;
    margin: 10px;
}
label{
    display:block;
    border-radius: 5px;
    width: 100%;
    padding: 5px;
    margin-top: 10px;
}
.card{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    background-color: #ffff;
    padding: 10px;
    border-radius: 10px;
}
div#salvo {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    background-color: #ffff;
    padding: 10px;
    border-radius: 10px;
    gap: 10px;
}
@media screen and (max-width: 768px){
    #formulario{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(86, 15, 134);
    padding: 20px;
    border-right: none;
    border-bottom: 5px solid #ffffff;
    border: 5px solid #000;
    margin: 0;
}
#formulario input, select{
    width: 100%;
}
#lista{
    width:100%;
    height: auto;
    padding: 5px 10px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
    word-break: break-all;
    margin: 0; 
    gap: 10px;
}
.card{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    background-color: #ffff;
    padding: 10px;
    border-radius: 10px;
}
div#salvo {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    background-color: #ffff;
    padding: 10px;
    border-radius: 10px;
    gap: 10px;
}
}