body{
    background-color: rgb(185, 255, 182);
}
h1{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    color:#000000;
}
.container{
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
}
#formulario{
    margin:10px;
    width: 30%;
    border-radius: 1px;
    display: flex;
    flex-direction: column;
    background-color: rgb(185, 255, 182);
    padding: 30px;
    border: 10px solid #000000;
    align-self: anchor-center;
}
form input,  form select {
    display:block;
    border-radius: 5px;
    padding: 5px;
    background-color: #ffffff;
}
label{
    display:block;
    border-radius: 5px;
    padding: 5px;
    color:#000000;
}
button{
    font-family:arial;
    margin-bottom: 10px;
    border-radius: 15px;
    padding: 5px;
    color:#ffffff;
    background-color: rgb(13, 82, 42);
    height: 40px;
    cursor:pointer;
    margin-top: 10px;
    width: 100%;
}
button:hover {
    background-color: rgb(3, 45, 20);
}
#lista{
    width:20%;
    height: auto;
    padding: 5px 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    word-break: break-all;
    justify-content: space-between;
    margin: 10px;
}
label{
    display:block;
    border-radius: 5px;
    width: 100%;
    padding: 5px;
    margin-top: 10px;
}
.card{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
}
div#salvo {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    gap: 10px;
}
#resultado{
    padding:30px;
    display: flex;
    flex-direction: column;
}