*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color:rgb(244, 192, 192);
}
.container{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
#formulario{
    /* margin:0 auto; */
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(244, 192, 192);
    padding: 20px;
    border-right: 5px solid #ffffff;
    
}
h1 {
    font-family: 'Times New Roman', Times, serif;
    display:flex;
    justify-content: center;
}
form input,  form select {
    display:block;
    border-radius: 5px;
    width: 100%;
    padding: 5px;
    margin-top: 10px;
    background-color: #ffffff;
}
label{
    display:block;
    border-radius: 5px;
    width: 100%;
    padding: 5px;
    margin-top: 10px;
}
button{
    margin-bottom: 10px;
    border-radius: 15px;
    padding: 5px;
    color:white;
    background-color: rgb(50, 7, 90);
    height: 40px;
    cursor:pointer;
    margin-top: 10px;
    width: 100%;
}
#lista{
    width:60%;
    height: auto;
    padding: 5px 10px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    word-break: break-all;
    margin: 10px; 
    gap: 10px;
}
.card{
    width: 30%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    background-color: #ffff;
    padding: 10px;
    border-radius: 10px;
}
@media screen and (max-width: 768px){
    #formulario{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(244, 192, 192);
    padding: 20px;
    border-right: none;
    border-bottom: 5px solid #ffffff;
    
}
#lista{
    width:100%;
    height: auto;
    padding: 5px 10px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
    word-break: break-all;
    margin: 0; 
    gap: 10px;
}
.card{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    background-color: #ffff;
    padding: 10px;
    border-radius: 10px;
}
}